:root{
    --background: wheat;
    --card-backgorund: rgb(250, 237, 214);
    --font-color: rgb(94, 77, 43);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    font-size: 4rem;
    background: var(--background)
}

.game-wrapper{
    display: flex;
    align-items: center;
    flex: 1 1 70%;

    color: var(--font-color);
    gap: 3rem;
}

.card{
    background: var(--card-backgorund);
    height: 30vh;
    width: 15vw;

    border-radius: 1rem;
    border: 1px solid black;

    transition: all .2s ease;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 5px black;

}

.scoreboard-wrapper{
    display: flex;
    flex: 1 1 30%;
    gap: 10rem;
    color: var(--font-color);
}

.player-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-decoration: underline;
}

.header {
    color: var(--font-color);

}

.feedback-wrapper{
    display: flex;
    flex: 1 1 20%;
    color: var(--font-color);
}

.feedback{
    transition: 2s;
}

#r{
    background-image: url("./images/rock.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#p{
    background-image: url("./images/paper.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#s{
    background-image: url("./images/scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
}